.App {
    text-align: center; 
}

.divTable{
    display : table;
    max-width : 20em;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.divTableRow{
    display: table-row;
}

.divTableHeading{
    background-color: #000;
    display: table-header-group;
    font-weight: bold;
}

.divTableCell,
.divTableHead{
    border: 1px solid #000;
    display: table-cell;
    padding: 3px 10px;
}

.divTableFoot{
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody{
    display: table-row-group; 
}

.divTableCell{
    background-color: #000;
    font-weight: bold;
}

.widget{
    display: flex;
    background-color: #000;
    justify-content: center;
    margin: 5%;

}

.imgPoke{
    height: 16em;
}