@font-face {
    font-family: RobotoMono;
    src: url(./police/RobotoMono-VariableFont_wght.ttf);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh; 
    background-color: #000; 
}

.mono{
    font-family: RobotoMono;
}

body{
    background-image : url("./images/fond.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed ;

}