@font-face {
    font-family: RobotoMono;
    src: url(./police/RobotoMono-VariableFont_wght.ttf);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;  
}

.mono{
    font-family: RobotoMono;
}

body{
    background-color: #000;
    background-image : url("./images/fond.png");
    background-size: 100%;
    background-repeat: no-repeat;
}