@font-face {
    font-family: RobotoMono;
    src: url(./police/RobotoMono-VariableFont_wght.ttf);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh; 
    background-color: #000; 
}

.mono{
    font-family: RobotoMono;
}

.body{
    background-image : url("./images/fond.png");
    opacity: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.contour{
    background-color: rgb(0, 0, 0);
    margin : 5%;
    border-radius: 2vw;
    border-style: solid;
    border-color: black;
    opacity: 1;
}

.dark{
    background: #000000;
    opacity: 0.5;
}