@font-face {
    font-family: RobotoMono;
    src: url("../police/RobotoMono-VariableFont_wght.ttf");
  }


.plein{
    position: relative;
    width: 100%;
}

.classm{
    margin-top: 0%;
    font-family: RobotoMono;
    margin-left: 10%;
    color: #000000;
    font-size: 2.2vw;
}

.stat{
    margin-left: 10%;
    color: white;
    font-size: 1.4vw;
    font-family: RobotoMono;
    height: 6.5hw;
}

.img{
    margin-left: 0%;
    margin-right: 0%;
    height: 3.5vw;
}

.barre1{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3%;
    height: 1.5vw;
    width: 20vw;
}

.chiffre{
    margin-top: 0%;
    font-family: RobotoMono;
    margin-left: 0%;
    margin-right: 10%;
    color: red;
    font-size: 1.8vw;
}
