@font-face {
    font-family: RobotoMono;
    src: url(../police/RobotoMono-VariableFont_wght.ttf);
}

.rank{
    font-family: 'Roboto Mono', sans-serif;
    color:#000000
}

.contour{
    background-color: rgb(0, 0, 0);
    margin : 5%;
    border-radius: 2vw;
    border-style: solid;
    border-color: black;
    height: 30vh;
    width: 40vw;
}