@font-face {
    font-family: RobotoMono;
    src: url(../police/RobotoMono-VariableFont_wght.ttf);
}

.rank{
    font-family: 'Roboto Mono', sans-serif;
    color:#000000
}

.contour{
    background-color: white;
    margin : 5%;
    border-radius: 1.5vw;
    border-style: solid;
    border-color: black;
    height: 30wh;
    width: 40vw;
}